<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_login.css') }}">
    <title>Selecionar o tipo do sistema</title>
</head>
<body>
    <div class="container">
        <form action="/verify_type"></form>
            <a class="botao" href="/autenticar_estoque">ESTOQUE</a>
            <a class="botao" href="/autenticar_producao">PRODUÇÃO</a>
    </div>
</body>
</html>
